#flexbox-a3 {
  .container-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .a3-boxes {
    background: blue;
    padding: 25px;
  }
}

#flexbox-b3 {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .boxes {
    background: blue;
    width: 50%;
    padding: 20px;
    border: solid black 2px;
  }
}

#flexbox-c1 {
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
  }

  .boxes {
    background: blue;
    padding: 20px;
    width: 20%;
    border: solid 2px black;
  }
}
