.box {
    display: flex;
    padding: 20px 40px;
    border: 1px solid black;
    background-color: rgb(0, 119, 255);
}

#flexbox-b1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#flexbox-b2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}