#mediaqueries-c1 {
  @media (max-width: 800px) {
    .text {
      font-size: 20px;
    }
  }

  @media (min-width: 800px) {
    .text {
      font-size: 50px;
    }
  }
}

#mediaqueries-c2 {
  @media (max-width: 800px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .box {
      background: rgb(122, 166, 200);
      width: 100%;
      padding: 25px;
      border: solid 2px black;
    }
  }

  @media (min-width: 800px) {
    .container {
      display: flex;
      justify-content: space-around;
    }

    .box {
      background: rgb(122, 166, 200);
      width: 15%;
      padding: 25px;
      border: solid 2px black;
      text-align: center;
    }
  }
}
