#mediaqueries-b1 {
  h2,
  h3 {
    font-weight: 200;
  }

  @media (min-width: 1000px) {
    h2 {
      font-size: 40px;
      font-weight: 600;
      text-decoration: underline;
    }
    h3 {
      margin-left: 20px;
      font-size: 25px;
    }
  }
}

#mediaqueries-b2,
#mediaqueries-c1 {
  p {
    font-size: 30px;
  }
  @media (min-width: 1000px) {
    .mobile {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    .desktop {
      display: none;
    }
    p {
      font-size: 10px;
    }
  }
}

#mediaqueries-c2 {
  .media-box {
    background-color: #8fe1ef;
    border: 1px solid #4144c2;
    color: #013047;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 1000px) {
    .container-media {
      height: 200px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  @media (min-width: 1000px) {
    .container-media {
      height: 200px;
      flex-direction: row-reverse;
      justify-content: space-around;
      display: flex;
      align-items: center;
      .media-box {
        padding: 30px 25px;
      }
    }
  }
}
