#mediaqueries-c1 {
  @media (min-width: 992px) {
    .mobile {
      display: none;
    }
  }

  .Desktop {
    font-weight: bold;
    font-size: 20px;
  }

  @media (max-width: 992px) {
    .Desktop {
      display: none;
    }
  }
}

#mediaqueries-c2 {
  .box {
    background-color: aqua;
    width: 20px;
    height: 20px;
    text-align: left;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (max-width: 992px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .box {
      width: 100%;
      height: 100%;
    }
  }
}
