#mediaqueries-c1 {
  @media (min-width: 992px) {
    p {
      font-size: 30px;
    }
  }
}
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .desktop {
    display: none;
  }
}
