#mediaqueries-c1 {
  @media (min-width: 992px) {
    p {
      font-size: 30px;
    }
  }
}
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .desktop {
    display: none;
  }
}

#mediaqueries-c2 {
  display: flex;
  .box {
    background-color: lightblue;
    border: 1px solid deeppink;
    color: deeppink;
    height: 50px;
    padding: 10px 0 0 10px;
    display: flex;
  }
}
@media (min-width: 992px) {
  .box {
    flex-direction: column;
  }
  @media (max-width: 992px) {
    .box {
      flex-direction: row-reverse;
    }
  }
}
