#positions-b1 {
  .positionB1A-box {
    position: relative;
    left: 50px;
  }

  .positionB1B-box {
    position: relative;
    bottom: 30px;
    left: 20px;
  }
}

#positions-b2 {
  .positionB1B-box {
    position: absolute;
    bottom: 7px;
    left: 39px;
  }
  .positionB1C-box {
    position: absolute;
    bottom: -14px;
    left: 66px;
  }
}

.yellow-case {
  position: relative;
}

.positionB-box {
  background-color: #eb5e27;
  border: 1px solid #013047;
  color: #013047;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95px;
  height: 95px;
}

.mini-position-box {
  background-color: #e9c469;
  border: 1px solid;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positionC-box {
  background-color: #eb5e27;
  border: 1px solid #013047;
  color: #013047;
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 60px;
}

.yellow-position-box {
  background-color: #e9c469;
  opacity: 50%;
  border: 1px solid #013047;
  color: #013047;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 25px;
}

.mini-yellow-position-box {
  padding: 15px;
  width: 70px;
  height: 25px;
  opacity: 100%;
}
.square-yellow-position-box {
  padding: 20px;
  width: 72px;
  height: 72px;
}

#positions-c1 {
  .positionC1A-box {
    position: relative;
    left: 118px;
  }
  .positionC1A1-box {
    position: absolute;
    top: 19px;
    left: -1px;
  }

  .positionC1B-box,
  .positionC1C-box {
    position: relative;
  }
  .positionC1B-box {
    bottom: 13px;
    left: 40px;
  }

  .positionC1C-box {
    top: 95px;
    left: 5px;
  }
}

.positionsc1 {
  height: 286px;
}

#positions-c2 {
  .positionC2A-box,
  .positionC2B-box,
  .positionC2C-box {
    position: relative;
    z-index: 100;
  }
  .positionC2A1-box,
  .positionC2A2-box,
  .positionC2B1-box {
    position: absolute;
    z-index: 200;
  }

  .positionC2B-box {
    left: 58px;
  }
  .positionC2B1-box {
    top: 46px;
    left: 134px;
  }

  .positionC2A1-box {
    left: -1px;
  }

  .positionC2A2-box {
    top: 19px;
  }
}
