#positions-b1 {
  .box {
    background-color: lightpink;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    border: 1px solid black;
  }
  .box-a {
    position: relative;
    left: 80px;
  }
  .box-b {
    position: relative;
    top: -30px;
    left: 50px;
  }
}

#positions-b2 {
  .box {
    background-color: lightpink;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    border: 1px solid black;
  }
}
