#transitions-c1 {
  a {
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.5s 0.2s ease-in-out;
  }

  a:hover {
    background-color: rosybrown;
  }

  .essai {
    background-color: green;
    padding: 10px;
    width: 50px;
    position: relative;
    transform: scale(0.1, 1);
    transform-origin: left;
    transition: transform 0.5s 0.2s ease-in-out;
  }

  .essai:hover {
    transform: scale(2, 1);
  }
}

#transitions-b1 {
  .wrapper {
    width: 50px;
    font-size: 20px;
    color: rgb(183, 40, 63);
    transition: background-color 0.3s 0.2s ease-in-out;
  }
  .second {
    transition: color 0.3s 0.2s ease-in-out;
  }
  .wrapper:hover {
    background-color: rgb(121, 69, 170);
  }

  .wrapper:hover .second {
    color: rgb(255, 255, 255);
  }
}
