#transitions-c1 {
  p {
    font-size: 25px;
  }
  .background {
    width: 130px;
    font-size: 25px;
    background: linear-gradient(to left, #ffffff 50%, rgb(238, 19, 158) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all ease 0.3s;
  }
  .background:hover {
    background-position: left bottom;
  }
}
