#transitions-a1 {
  .text {
    color: red;
    font-size: 20px;
    transition-duration: 0.5s;
  }

  .text:hover {
    color: blue;
    padding-left: 5px;
    cursor: pointer;
  }
}

#transitions-b1 {
  .text {
    color: red;
    font-size: 20px;
    transition-duration: 0.5s;
  }

  .text:hover {
    background-color: rgb(32, 32, 146);
    cursor: pointer;
  }

  .world:hover {
    color: aliceblue;
    transition-duration: 0.5s;
  }
}
