.box {
  background-color: aquamarine;
  border: 1px solid rgba(86, 61, 124, 0.2);
  width: 110px;
  padding: 30px;
}

#flexbox-b1 {
  .item {
    display: flex;
    flex-direction: row;
  }
}

#flexbox-b2 {
  .item {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  }
}

#flexbox-b3 {
  .item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
