#javascript-a1 {
  .trigger {
    display: block;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    p {
      display: inline;
      font-size: 20px;
      font-weight: 700;
    }
    .button {
      display: inline;
      .plus.activ {
        display: none;
      }
      .moin {
        display: none;
        &.activ {
          display: inline;
        }
      }
    }
  }
  .content {
    border: 3px solid antiquewhite;
    padding: 20px;
    display: none;
    &.open {
      display: block;
    }
  }
}
