#transitions-a1 {
  .title-transition {
    color: rgb(255, 77, 106);
  }

  .title-transition:hover {
    color: purple;
    transform: scale(1.1);
  }
}

#transitions-b1 {
  .hello {
    color: rgb(255, 77, 106);
  }

  .hello:hover {
    background-color: rgb(89, 27, 110);
    color: rgb(255, 77, 106);
  }

  .world {
    color: rgb(255, 77, 106);
  }

  .world:hover {
    background-color: rgb(89, 27, 110);
    color: rgb(255, 255, 255);
  }
}
