.hello {
  color: rgb(255, 77, 106);
}

.hello:hover {
  background-color: rgb(89, 27, 110);
  color: rgb(255, 77, 106);
}

.world {
  color: rgb(255, 77, 106);
}

.world:hover {
  background-color: rgb(89, 27, 110);
  color: rgb(255, 255, 255);
}
