/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  font-family: Lato, sans-serif;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  padding: 1em 0;
}

h2 {
  margin-bottom: 15px;
}

h3 {
  margin: 0;
}

.flexbox1 {
  display: flex;
  flex-direction: row;
}

.flexbox-A {
  border: solid 1px;
  padding: 20px;
  background-color: rgb(61, 134, 198);
}

.flexbox2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.flexbox3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* ====================================
// base rules
// ==================================== */
